*{
  font-family: 'PT Sans', sans-serif;
}

body, html{
  margin: 0;
  height: 100%;
}

.wrapper{
  width: 100%;
  height: 100%;
}

.header{
  display: flex;
  flex-direction: column;
  background-image: url("img/David-Pencil.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 85px;
  padding: 0 100px;
  background: rgb(243,250,250);
  background: linear-gradient(0deg, rgba(243,250,250,0) 22%, rgba(255,254,253,0.15) 77%);
}

.buttons{
  display: flex;
  align-items: center;
}

.buttons p{
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 12px 25px;
  border-bottom: 2px solid #06b4ff00;
  cursor: pointer;
}

.buttons p:hover{
  color: #06b4ff;
  border-bottom: 2px solid #06b4ff;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
}

.logo h2{
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  color: #06b4ff;
}

.logo p{
  margin: 0;
  padding: 0;
  font-size: 8px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.info{
  display: flex;
  margin-left: 100px;
  width: 700px;
  height: 400px;

}

.info_bar{
  flex-direction: column;
  display: flex;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
}

.info_bar h1{
  font-size: 85px;
  margin: 0;
  padding: 0;
}

.info_bar p{
  font-size: 40px;
  padding: 5px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin: 0;
  width: 450px;
}

.info_bar button{
  width: 150px;
  border: 3px solid #06b4ff;
  height: 60px;
  border-radius: 2px;
  margin: 25px 25px 25px 0;
  text-transform: uppercase;
  background-color: inherit;
  color: #06b4ff;
  transition: 0.5s;
  cursor: pointer;
}

.info_bar button:hover{
  background-color: #06b4ff;
  color: #fff;
  font-weight: bolder;
}

.portfolio{
  display: flex;
  margin: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.about_me h2{
   text-transform: uppercase;
   border-bottom: 3px solid #06b4ff;
   width: 150px;
   font-size: 30px;
}

.about_me{
   width: 550px;
}

.about_me button{
  width: 520px;
  height: 75px;
  margin-top: 10px;
  background-color: #06b4ff;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  border: 4px solid #06b4ff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}

.about_me button:hover{
  background-color: #fff;
  color: #06b4ff;
}

.list{
  margin-top: 70px;
}

.list ul{
  list-style-type: none;
}

.list ul li{
  margin: 15px;
  font-size: 20px;
}

.icons{
  display: flex;
  justify-content: space-around;
}

.icons .icon{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons .icon p{
  text-transform: uppercase;
  font-weight: bolder;
}

.container_2{
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 25px;
  width: 80%;
}

.description h2{
  font-size: 33px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid #06b4ff;
  margin: 5px;
  width: 165px;
}

.description hr{
  border-top: 1px solid #dddddd;
  margin: 24px;
}

.description h3{
  font-weight: bolder;
  font-size: 20px;
  color: #111111;
  /* font-family: 'PT Sans'; */
}

.description p{
  font-size: 18px;
}

.description .list_skill{
  display: flex;
  justify-content: flex-start;
}

.description ul{
  padding: 0 115px 0 0;
}

.description ul li{
  padding: 2px;
  list-style: none;
}

.description ul li:before{
    content: '✔';
    color: #111111;
    padding: 10px 10px 10px 0;
}

.percent{
  display: flex;
  align-items: center;
}

.description .percent .per{
  font-size: 48px;
  font-weight: 500;
  width: 100px;
}

.description .percent .sub_text{
  padding-bottom: 13px;
  margin: 15px;
  font-weight: 500;
  border-bottom: 8px solid #D4D4D4;
  width: 100%;
}

.experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 50px 25px;
  width: 80%;
  box-sizing: border-box;
}

.exp h2{
  font-size: 33px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid #06b4ff;
  margin: 5px;
  width: 195px;
}

.exp > h3{
  font-weight: bolder;
  font-size: 20px;
  color: #111111;
  padding-top: 35px;
}

.exp p{
  font-size: 18px;
}

.blocks{
  display: flex;
  flex-direction: column;
  position: relative;
}

.vertical-line{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.vl{
  width: 4px;
  height: 100%;
  background-color: #d7e4ed;
}

.block{
  display: flex;
  justify-content: flex-start;
}

.block:nth-child(2n){
  display: flex;
  justify-content: flex-end;
}

.block:nth-child(2n) img{
  display: flex;
  justify-content: flex-end;
  margin-left: 62px;
  margin-right: unset;
}

.bl{
display: flex;
flex-direction: column;
position: relative;
background-color: #dfdfdf;
box-shadow: 0 3px 0 #06b4ff;
padding: 0 10px;
margin: 25px 0;
width: 40%;
}

.image{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 80vw;
}

.image img{
  width: 64px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff,
    inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
  margin-top: 25px;
  margin-right: 62px;
}

.blocks img:nth-child(2n){
  margin-right: unset;
  margin-left: 62px;
}

.date{
  display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 80vw;
}

.date p{
  margin-top: 40px;
  margin-left: 390px;
}

.block .date p:nth-child(2n){
  margin-right:62px;
  margin-right: 0;
}

.color{
  background-color: #f7f7f7;
}
